<li [ngClass]="{'list-group-item' : like == 0,
                'list-group-item-success' : like > 0,
                'list-group-item-danger' : like < 0}">

    <div class ="d-flex justify-content-between align-items-center">
      <h4>{{title}}</h4>
      <span class="font-italic text-secondary" >{{lastUpdate|async | date : 'EEEE, MMMM d, y, h:mm:ss '}}</span>

    </div>



  <div style="margin-bottom: 10px">{{content}}</div>
  <button class="btn-sm btn-success" (click)="onLike()">LIKE</button>

  <button class="btn-sm btn-danger" style="margin-left: 4px" (click)="onDislike()">DISLIKE</button>

</li>
